@import url('https://fonts.googleapis.com/css?family=Changa+One|Fascinate+Inline');

.title{
  margin-top: 60px;
}

h2{
  font-family: 'Fascinate Inline', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h3{
  font-family: 'Changa One', cursive;
}


.button0, button, input{
  margin-top: 20px;
  background-color: black;
  color: white;
  height: 35px;
  border: none;
  font: 100px;
  font-family: 'Changa One', cursive;
}

.Nav-principal{
  background-color: black;
  color: white;
  height: 50px;
  font-family: 'Changa One', cursive;
}

.button{
  width: 40%;
}

.button0{
  width: 30%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
